<h3>Cadastro Filmes e Séries</h3>

<form action="">
  <input type="text" placeholder="Name" class="form-control" name="name" [(ngModel)]="filme.name">
  <input type="text" placeholder="Genre" class="form-control" name="genre" [(ngModel)]="filme.genre">
  <input type="number" placeholder="Rate" class="form-control" name="rate" [(ngModel)]="filme.rate">

  @if (btnCadastrar) {
    <input type="button" value="Cadastrar" class="btn btn-primary" (click)="cadastrar()">
  } @else {
    <input type="button" value="Alterar" class="btn btn-warning" (click)="alterar()">
    <input type="button" value="Remover" class="btn btn-danger" (click)="remover()">
    <input type="button" value="Cancelar" class="btn btn-secondary" (click)="cancelar()">
  }
</form>



@if (tabela) {
  <h3>Lista de Filmes e Séries</h3>
  
  <table class="table">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Genre</th>
      <th>Rate</th>
      <th>Select</th>
    </thead>

    <tbody>
      @for (filme of filmes; track $index) {
        <tr>
          <td>{{$index + 1}}</td>
          <td>{{filme.name}}</td>
          <td>{{filme.genre}}</td>
          <td>{{filme.rate}}</td>

          <td><button class="btn btn-success" (click)="selecionar($index)">Select</button></td>
        </tr>
      }
    </tbody>
  </table>
}
